# Fichiers temporaires et caches
*.swp
*~
.DS_Store
Thumbs.db

# Fichiers générés par l'environnement d'exécution
__pycache__/
*.pyc
*.pyo

# Fichiers de données
data/raw/*
data/external/*
data/processed/*

# Modèles trop lourds
models/doc2vec_model.pkl
models/word2vec_model.pkl

# Dossiers spécifiques à l'environnement d'exécution
.ipynb_checkpoints/
.vscode/
.idea/

# Fichiers de configuration spécifiques à l'utilisateur
.env
*.local

# Fichiers générés par Jupyter Notebook
.ipynb_checkpoints/

# Packages et dépendances
venv/
.venv/
env/

# Autres fichiers à ignorer
*.log
*.csv
*.tsv
*.json

# Fichiers et dossiers MLflow
mlruns/
