Flask==2.2.2                    # ~100 Ko
gunicorn==20.1.0               # ~1 Mo
numpy==1.23.5                   # ~30 Mo
pandas==1.5.3                   # ~30 Mo
scikit-learn==1.2.2             # ~40 Mo
scipy==1.10.1                  # ~100 Mo
gensim==4.3.1                   # ~30 Mo
nltk==3.8.1                     # ~13 Mo
